.update .project {
  font-weight: bold;
}
.update .version-status {
  float: right;
}
.update .version-date {
  white-space: nowrap;
}
.update .info {
  padding: 1em 1em .25em 1em;
  margin: 0;
}
.update .version tbody {
  border: none;
}
.update .version .version-title {
  width: 14em;
  padding-left: 1em;
}
.update .version .version-details {
  padding-right: .5em;
}
.update .version .version-links {
  padding-right: 1em;
  text-align: right;
}
.update .version-recommended-strong .version-title {
  font-weight: bold;
}
.update .security-error {
  font-weight: bold;
}
.update .check-manually {
  padding-left: 1em;
}
.current-version,
.new-version {
  direction: ltr;
}
.update,
.update .version {
  width: 100%;
  margin-top: .5em;
  border: none;
}
.update .version tr,
.update .version td {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
.update-project-name {
  width: 50%;
}
